.login-form-inputs {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
}

.login-form-inputs input {
	width: 100%;
	height: 2.5rem;
	margin-bottom: 1.5rem;
	padding: 0;
	border: none;
	border-bottom: 1px solid #2da75e;
	transition: all 0s;
	background: none;
	text-align: center;
	color: white;
}

.login-form-inputs input::placeholder {
	color: #fff;
	opacity: 0.4;
}

::-ms-reveal {
	filter: invert(100%);
}

.login-form-inputs input:focus {
	outline: none;
	border-bottom: 2px solid #2da75e;
}

.btn {
	margin-top: 0.5rem;
	width: 100%;
	height: 2.5rem;
	padding: 0;
	border: none;
	background: none;
	background-color: #2da75e;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	border-radius: 7px;
}

.btn:hover {
	background-color: #227945;
}

.btn-register {
	background-color: #17a2b8;
}
.btn-register:hover {
	background-color: #128597;
}
